<div id="cal-day-box">
	<div class="cal-row-head">
		<div class="cal-cell"><%= cal.locale.time %></div>
		<div class="cal-cell"><%= cal.locale.events %></div>
	</div>
	<% if(all_day.length) {%>
		<div class="cal-day-hour">
			<div class="cal-day-hour-locale-all-day">
                <strong><%= cal.locale.all_day %></strong>
            </div>
			<div class="cal-day-hours">
				<% _.each(all_day, function(event){ %>
					<div class="day-highlight dh-<%= event['class'] %>">
						<a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                           data-event-id="<%= event.id %>"
						   data-event-class="<%= event['class'] %>"
                           class="event-item">
							<%= event.title %>
                        </a>
					</div>
				<% }); %>
			</div>
		</div>
	<% }; %>
	<% if(before_time.length) {%>
		<div class="cal-day-hour">
			<div class="cal-day-hour-locale-before-time">
                <strong><%= cal.locale.before_time %></strong>
            </div>
			<div class="cal-day-hours">
				<% _.each(before_time, function(event){ %>
					<div class="day-highlight dh-<%= event['class'] %>">
						<span class="cal-hours"><%= event.end_hour %></span>
						<a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                           data-event-id="<%= event.id %>"
						   data-event-class="<%= event['class'] %>"
                           class="event-item">
							<%= event.title %>
                        </a>
					</div>
				<% }); %>
			</div>
		</div>
	<% }; %>
	<div class="cal-day-panel">
		<div class="cal-day-panel-hour">
			<% for(i = 0; i < hours; i++){ %>
				<div class="cal-day-hour">
					<% for(l = 0; l < cal._hour_min(i); l++){ %>
						<div class="cal-day-hour-part">
							<div>
                                <strong><%= cal._hour(i, l) %></strong>
                            </div>
						</div>
				<% }; %>
				</div>
			<% }; %>
		</div>

		<% _.each(by_hour, function(event){ %>
			<div class="day-event day-highlight dh-<%= event['class'] %>">
				<span class="cal-hours"><%= event.start_hour %> - <%= event.end_hour %></span>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                   data-event-id="<%= event.id %>"
				   data-event-class="<%= event['class'] %>"
                   class="event-item">
					<%= event.title %></a>
			</div>
		<% }); %>
	</div>
	<% if(after_time.length) {%>
	<div class="cal-day-hour">
		<div class="cal-day-hour-locale-after-time">
            <strong><%= cal.locale.after_time %></strong>
        </div>
		<div class="cal-day-hours">
			<% _.each(after_time, function(event){ %>
			<div class="day-highlight dh-<%= event['class'] %>">
				<span class="cal-hours"><%= event.start_hour %></span>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                   data-event-id="<%= event.id %>"
				   data-event-class="<%= event['class'] %>"
                   class="event-item">
					<%= event.title %></a>
			</div>
			<% }); %>
		</div>
	</div>
	<% }; %>
</div>
