<span class="cal-slide-tick" style="display: none"></span>
<div class="cal-slide-content cal-event-list">
	<ul class="cal-event-list">
		<% _.each(events, function(event) { %>
			<li class="cal-event-list-item">
				<span class="event <%= event['class'] %>"></span>&nbsp;
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                   data-event-id="<%= event.id %>"
      			   data-accepts-bookings-on-holidays="<%= event['class'] %>"
                   class="event-item">
					<%= event.title %>
                </a>
			</li>
		<% }) %>
	</ul>
</div>
